@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}
#root,
.main {
  height: 100%;
}
.navbar {
  padding: 0.8rem;
  background-color: #467cdb;
}
.navbar-nav li {
  padding-right: 40px;
  color: white;
}
.nav-link {
  font-size: 1.1em !important;
}
.nav-item a {
  color: white;
  text-decoration: none;
}
/* .nav-item a:hover {
  color: #467cdb;
} */
/* .navbar-brand:hover {
  color: #467cdb;
} */

.title {
  font-size: 250%;
  text-align: center;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.pa {
  margin-left: 20%;
  margin-right: 20%;
  font-size: 100%;
}
.line {
  width: 65px;
  height: 5px;
  background-color: #467cdb;
  margin: 0 auto;
}
.about,
.company,
.gettingstarted,
.contact {
  height: 85%;
}
.gettingstarted {
  background-color: #f8f6f6;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  padding-bottom: 1rem;
}
.contact {
  background-color: #222;
  color: white;
}
.social a {
  font-size: 4.5rem;
  padding: 3rem;
  color: white;
}
.social a:hover {
  color: #d5d5d5;
}
.s_top {
  bottom: 0;
  margin-top: 4rem;
}
.s_top a {
  font-size: 2rem;
  padding: 3rem;
  color: white;
}
footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
  bottom: 0;
  height: 40%;
}
/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 !important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
}
#fixed {
  background-image: url("./img/cover_img.png");
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.trackbtn {
  border-radius: 30px;
  margin-top: 10px;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  border-width: 1px;
  border-color: white;
  transition: all ease 0.5s;
  color: #467cdb;
}
.trackbtn:hover {
  background-color: #467cdb;
  color: white;
  border-width: 1px;
  border-color: white;
}
/* media queries */
@media (max-width: 992px) {
  .social a {
    font-size: 4rem;
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  .social a {
    font-size: 2.5rem;
    padding: 1.2rem;
  }
  .s_top a {
    font-size: 2.5rem;
    padding: 1rem;
  }
  .display-4 {
    font-size: 200%;
  }
  h1 {
    font-size: 275%;
    margin-bottom: 2rem;
  }
  h3 {
    font-size: 100%;
    font-weight: 160;
  }
  .title {
    font-size: 125%;
  }
  .line {
    width: 30px;
    height: 5px;
  }
}
@media (max-width: 576px) {
  .display-4 {
    font-size: 160%;
  }
  .social a {
    font-size: 2rem;
    padding: 0.7rem;
  }
  .s_top a {
    font-size: 2rem;
    padding: 0.3rem;
  }
  h1 {
    font-size: 200%;
    margin-bottom: 0.5rem;
  }
  h3 {
    font-size: 75%;
  }
  .title {
    font-size: 200%;
  }
  .line {
    width: 30px;
    height: 5px;
  }
  p {
    font-size: 0.6rem;
  }
  .pa {
    font-size: 0.7rem;
  }
  .gettingstarted {
    height: auto;
  }
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
  padding: 1rem;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 90vh;
  /* background-image: url("slider-02.jpg"); */
  background-color: #467cdb;
  background-size: cover;
  position: relative;
  margin-bottom: -50px;
}

#hero img {
  width: 40%;
  bottom: 0;
  margin-right: 30px;
}

#hero .home_container {
  position: relative;
  flex: auto;
}

#hero h1 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: white;
}

#hero h2 {
  color: white;
  margin: 10px 0 0 0;
  font-size: 34px;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}

#hero .btn-get-started:hover {
  background: #bfc4c9;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  .navbar-brand {
    font-size: 20px;
  }
  #hero {
    margin-bottom: 0;
    /* height: 100vh; */
    padding: 0;
    /* margin: 0 auto; */
    height: 90%;
    width: 100%;
    margin-bottom: -20px;
  }
  #hero .home_container {
    padding-top: 70px;
    bottom: 10px;
  }
  #hero h1 {
    font-size: 20px;
    line-height: 20px;
  }
  #hero h2 {
    font-size: 15px;
    line-height: 46px;
    margin-bottom: 30px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: auto;
  }
}

<<<<<<< HEAD
/* #show1,
#show2 {
  display: none;
} */

=======
/* #show1,#show2 {
  display: none;
}

#add, #scan {
  display: none;
} */


>>>>>>> d10e0a545d1a9fcde4f1322c17845ab70b62c5c7
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap
Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }
Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }
Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }
Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
